.login-comp {
  display: flex;
  align-items: center;
  justify-content: center;
 
}


.login-container {

  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 12vh;
  
}
.submit-btn{
margin: 5vh;
}
@media (max-width: 600px) {
  .login-container {
    width: 80%; /* Adjust width for smaller screens */
  }
}
